ul{
  padding: 1.5rem 0;
}

i{
    color:hsl(233deg, 100%, 63%);
    font-size: 1.2rem;

}


li{
    cursor: pointer;
    display: flex;
    gap: 1rem;
    padding: .5rem 1.5rem;
}

li:hover{
    background-color: #e6e9fb;
}

label{
  cursor: pointer;
  flex:1
}
