/* You can add global styles to this file, and also import other style files */
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import  "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 